body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1b1b1b;
  color: #eee;
}
div {
  box-sizing: border-box;
}
a {
  color: #00B7FF;
}

#App {
  display: flex;
  flex-direction: row;
}
#UsersList {
  flex: 0 0 25%;
  padding: 0 15px;
  min-width: 300px;
}
#content {
  flex: 1;
}

#UsersList ul {
  padding-left: 0;
}
#UsersList ul a {
  text-decoration: none;
  color: inherit;
}
#UsersList ul li {
  list-style: none;
  padding: 10px;
}
#UsersList ul li:hover {
  background-color: #252525;
}
#UsersList ul li.selected {
  background-color: #313131;
}
